@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.main h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
@media (min-width: 768px) {
  .main {
    background-color: aquamarine;
  }
}
@media (min-width: 1024px) {
  .main {
    background-color: green;
  }
}
@media (min-width: 1440px) {
  .main {
    background-color: blue;
  }
}
@media (min-width: 1920px) {
  .main {
    background-color: blueviolet;
  }
}