* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 375px;
  overflow: auto;
  background-color: $body-background-color;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: map-get($screen, tablet-sd)) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.nowrap {
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}