.footer {
  background-color: $light-background;

  &__addresses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    padding-top: 32px;

    @media (min-width: map-get($screen, tablet-sd)) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }

    @media (min-width: map-get($screen, tablet-hd)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      //grid-template-rows: ;
    }

  address {
    @include font(16px,20px);
    color: $dark-subtitle-color;
    font-style: normal;
    }
  }

  &__addresses::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 30px;
    background-color: $light-hr-color;
  }

  &__address {
    margin-bottom: 21px;
    
    @media (min-width: map-get($screen, tablet-hd)) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @media (min-width: map-get($screen, tablet-sd)) {
      flex-direction: row;
      gap: 26px;
    }
  }

  @media (min-width: map-get($screen, tablet-sd)) {

    &__blocks *:nth-child(n) {
      flex-wrap: nowrap;
      position: relative;
    }

    &__blocks *:nth-child(n):not(:last-child)::after {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      right: -16px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $colorless-color;
    }
  }

  &__contacts {
    margin-bottom: 30px;
    order: 2;

    @media (min-width: map-get($screen, tablet-sd)) {
      margin-bottom: 0;
      order: 3;
    }

    @media (min-width: map-get($screen, tablet-hd)) {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    svg:hover path {
      fill: $active-color;
    }
  }

  &__map {
    color: $light-subtitle-color;
    text-transform: uppercase;
    text-decoration: none;
    @include font(12px,15px,700);
  }

  &__phone {
    @include font(16px,20px,700);
    color: $dark-color;
    text-decoration: none;
  }

  &__email {
    @include font(16px,20px,700);
    color: $light-subtitle-color;
    text-decoration: none;
  }

  &__email:hover {
    color: $active-color;
  }

  &__copyright {
    @include font(16px,20px);
    color: $colorless-color;

    order: 3;
    
    @media (min-width: map-get($screen, tablet-sd)) {
      justify-items: end;
      order: 2;
    }

    @media (min-width: map-get($screen, tablet-hd)) {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
  }
}