.definition {

  @media (min-width: map-get($screen, tablet-hd)) {
    display: flex;
    justify-content: space-between;
  }

  &__promo {
    display: flex;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    
    @media (min-width: map-get($screen, tablet-hd)) {
      flex-wrap: wrap;
      align-self: center;
      width: 375px;
      margin-right: 60px;
      flex-shrink: 0;
    }
  }

  &__promo-link {
    white-space: nowrap;
    text-decoration: none;
  }

  &__promo-link:hover {
  color: #F0145A;
  }

  &__body {
    width: 100%;

    @media (min-width: map-get($screen, tablet-hd)) {
      margin-left: 60px;
      align-self: center;
      flex-grow: 1;
    }
  }

  @media (min-width: map-get($screen, tablet-hd)) {
    display: flex;
    justify-content: space-between;
  }

  &__hr {
    //display: none;
  }

  @media (max-width: (map-get($screen, tablet-hd)-1)) {
    &__hr::before {
      content: '';
      margin-top: 30px;
      margin-bottom: 30px;
      display: block;
      width: 100%;
      height: 4px;
      background: color.change($contrast-text-color, $alpha: 0.3);

        @media (min-width: map-get($screen, tablet-sd)) {
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
    }

  @media (min-width: map-get($screen, tablet-hd)) {
    &__hr::before {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      background: color.change($contrast-text-color, $alpha: 0.3);
    }
  }
}