.main {

  &__title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;

    @media (min-width: map-get($screen, tablet-sd)) {
      font-size: 38px;
      line-height: 46px;
      margin-bottom: 60px;
    }
  }

}