.partition-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: $light-subtitle-color;
  display: inline-block;
  margin-bottom: 10px;
}

.partition-link:hover {
  color: $active-color;
}

.partition-link::after {
  content: ' 'url(../images/symbols/arrow_right.svg);
}

.partition-link:hover::after {
  content: ' 'url(../images/symbols/arrow_right_active.svg);
}