.services {
  padding-bottom: 30px;

  @media (min-width: map-get($screen, tablet-sd)) {
    padding-bottom: 60px;
  }

  &__cards{

    @media (min-width: map-get($screen, tablet-sd)) {
      @include flex-sb-wrap();
        gap: 60px;
    }
  }

  &__card {
    
    @media (max-width: (map-get($screen, tablet-sd)-1)) {
      margin-bottom: 30px;
    }

    @media (min-width: map-get($screen, tablet-sd)) {
      width: calc(50% - 30px);
    }

    @media (min-width: map-get($screen, tablet-hd)) {
      width: calc(33.33% - 40px);
    }
  }

  &__ecommerce {
    background-image: url("../images/icons/Ecommerce.svg");
  }

  &__support {
    background-image: url("../images/icons/Support.svg");
  }
  
  &__coprorate {
    background-image: url("../images/icons/Coprorate.svg");
  }

  &__trust {
    background-image: url("../images/icons/Trust.svg");
  }
  
  &__protection {
    background-image: url("../images/icons/Protection.svg");
  }
  
  &__court {
    background-image: url("../images/icons/Court.svg");
  }
}
