.servises-icon {
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
  width: 92px;
  height: 92px;
  //padding: 14px;

  img {
    width: 64px;
    height: 64px;
  };
}