.services-card {

  &__icon {
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
}