.services-card {

  &__icon {
    margin-bottom: 30px;
  }

  &__subtitle {
    @include font(22px,27px);
    margin-bottom: 15px;
  }

  &__text {
    @include font(16px,26px);
    color: $contrast-text-color;
  }
}