.team {
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;

    @media (min-width: map-get($screen, tablet-sd)) {
      margin-bottom: 60px;
    }

    @media (min-width: map-get($screen, tablet-hd)) {
      margin-right: 120px;
      margin-left: 120px;
      max-width: 1360px;
    }
  }

  &__cards {
    display: grid;
    grid-gap: 30px;

    @media (min-width: map-get($screen, tablet-sd)) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px;
    }

    @media (min-width: map-get($screen, tablet-hd)) {
      grid-template-columns: repeat(3, 1fr);
    }
 }

  &__image1 {
    @include bgimage($body-background-color,"../images/pictures/Team-1.jpg");
  }

  &__image2 {
    @include bgimage($body-background-color,"../images/pictures/Team-2.jpg");
  }

  &__image3 {
    @include bgimage($body-background-color,"../images/pictures/Team-3.jpg");
  }

  &__image4 {
    @include bgimage($body-background-color,"../images/pictures/Team-4.jpg");
  }

  &__image5 {
    @include bgimage($body-background-color,"../images/pictures/Team-5.jpg");
  }

  &__image6 {
    @include bgimage($body-background-color,"../images/pictures/Team-6.jpg");
  }
}