.main-title {
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //background-clip: text;
  //text-fill-color: transparent;
  @include font(30px,37px);

  @media (min-width: map-get($screen, tablet-sd)) {
    @include font(38px,46px);
  }
}

.subtitle {
  font-weight: 700;
  color: #24A3FF;
}