.popup {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: $light-background;
  box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 375px;

  width: 650px;

  &__input {
    padding: 15px;
    width: 100%;
    background-color: $body-background-color;
    border: 1px solid $body-background-color;
    border-radius: 8px;
    @include font(16px,26px);
  }

  &__input::placeholder {
    color: $colorless-color;
  }

  &__subtitle {
    @include font(14px,17px);
  }

  &__subblock {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}