.veil {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: color.change($dark-subtitle-color,$alpha:.7);

  &__popup-form {
    display: none;
  }

  &__mobile-menu {
    display: block;
  }
}